USE [master]
GO
/****** Objeto: Database [Northwind_DW] Fecha de script: 12/05/2026 10:16:52 p. m. ******/
CREATE DATABASE [Northwind_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Northwind_DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Northwind_DW.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Northwind_DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Northwind_DW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Northwind_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Northwind_DW]
GO
/****** Objeto: Table [dbo].[DimCustomer] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerSK] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nchar](5) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[Phone] [nvarchar](24) NULL,
	[Fax] [nvarchar](24) NULL,
	[CustomerDesc] [nvarchar](max) NULL,
 CONSTRAINT [PK_DimCustomer] PRIMARY KEY CLUSTERED 
(
	[CustomerSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimDate] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NOT NULL,
	[Year] [int] NOT NULL,
	[Quarter] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[MonthName] [nvarchar](15) NOT NULL,
	[Day] [int] NOT NULL,
 CONSTRAINT [PK_DimDate] PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimEmployee] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimEmployee](
	[EmployeeSK] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](10) NOT NULL,
	[Title] [nvarchar](30) NULL,
	[TitleOfCourtesy] [nvarchar](25) NULL,
	[BirthDate] [datetime] NULL,
	[HireDate] [datetime] NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[HomePhone] [nvarchar](24) NULL,
	[Extension] [nvarchar](4) NULL,
	[Photo] [image] NULL,
	[Notes] [ntext] NULL,
	[ReportsTo] [int] NULL,
	[PhotoPath] [nvarchar](255) NULL,
	[TerritoryDescription] [nchar](50) NULL,
	[RegionDescription] [nchar](50) NULL,
 CONSTRAINT [PK_DimEmployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimProduct] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductSK] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[CategoryName] [nvarchar](15) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[QuantityPerUnit] [nvarchar](20) NULL,
	[UnitPrice] [money] NULL,
	[UnitsInStock] [smallint] NULL,
	[UnitsOnOrder] [smallint] NULL,
	[ReorderLevel] [smallint] NULL,
	[Discontinued] [bit] NOT NULL,
 CONSTRAINT [PK_DimProduct] PRIMARY KEY CLUSTERED 
(
	[ProductSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimShipper] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimShipper](
	[ShipperSK] [int] IDENTITY(1,1) NOT NULL,
	[ShipperID] [int] NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[Phone] [nvarchar](24) NULL,
 CONSTRAINT [PK_DimShipper] PRIMARY KEY CLUSTERED 
(
	[ShipperSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FactOrders] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactOrders](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[OrderDateKey] [int] NOT NULL,
	[RequiredDateKey] [int] NOT NULL,
	[ShippedDateKey] [int] NULL,
	[CustomerSK] [int] NOT NULL,
	[ProductSK] [int] NOT NULL,
	[EmployeeSK] [int] NOT NULL,
	[ShipperSK] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[Discount] [real] NOT NULL,
	[OrderDate] [datetime] NULL,
	[RequiredDate] [datetime] NULL,
	[ShippedDate] [datetime] NULL,
 CONSTRAINT [PK_FactOrders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[LastPackageRowVersion] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LastPackageRowVersion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[LastRowVersion] [bigint] NOT NULL,
 CONSTRAINT [PK_LastPackageRowVersion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Staging_Customer] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staging_Customer](
	[CustomerID] [nchar](5) NULL,
	[CompanyName] [nvarchar](40) NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[CustomerDesc] [nvarchar](max) NULL,
	[Phone] [nvarchar](24) NULL,
	[Fax] [nvarchar](24) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Staging_Employee] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staging_Employee](
	[EmployeeID] [int] NULL,
	[LastName] [nvarchar](20) NULL,
	[FirstName] [nvarchar](10) NULL,
	[Title] [nvarchar](30) NULL,
	[HireDate] [datetime] NULL,
	[City] [nvarchar](15) NULL,
	[RegionDescription] [nchar](50) NULL,
	[Country] [nvarchar](15) NULL,
	[TitleOfCourtesy] [nvarchar](25) NULL,
	[BirthDate] [datetime] NULL,
	[Address] [nvarchar](60) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[HomePhone] [nvarchar](24) NULL,
	[Extension] [nvarchar](4) NULL,
	[Photo] [image] NULL,
	[Notes] [ntext] NULL,
	[ReportsTo] [int] NULL,
	[PhotoPath] [nvarchar](255) NULL,
	[TerritoryDescription] [nchar](50) NULL,
	[Region] [nvarchar](15) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Staging_FactOrders] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staging_FactOrders](
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[CustomerID] [nchar](5) NULL,
	[EmployeeID] [int] NULL,
	[ShipperID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[Quantity] [smallint] NULL,
	[UnitPrice] [money] NULL,
	[Discount] [real] NULL,
	[CustomerSK] [int] NULL,
	[EmployeeSK] [int] NULL,
	[ProductSK] [int] NULL,
	[ShipperSK] [int] NULL,
	[OrderDateKey] [int] NULL,
	[RequiredDateKey] [int] NULL,
	[ShippedDateKey] [int] NULL,
	[RequiredDate] [datetime] NULL,
	[ShippedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Staging_Product] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staging_Product](
	[ProductID] [int] NULL,
	[ProductName] [nvarchar](40) NULL,
	[SupplierName] [nvarchar](40) NULL,
	[CategoryName] [nvarchar](15) NULL,
	[QuantityPerUnit] [nvarchar](20) NULL,
	[UnitPrice] [money] NULL,
	[Discontinued] [bit] NULL,
	[UnitsInStock] [smallint] NULL,
	[UnitsOnOrder] [smallint] NULL,
	[ReorderLevel] [smallint] NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Staging_Shipper] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staging_Shipper](
	[ShipperID] [int] NULL,
	[CompanyName] [nvarchar](40) NULL,
	[Phone] [nvarchar](24) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD  CONSTRAINT [FK_FactOrders_DimCustomer] FOREIGN KEY([CustomerSK])
REFERENCES [dbo].[DimCustomer] ([CustomerSK])
GO
ALTER TABLE [dbo].[FactOrders] CHECK CONSTRAINT [FK_FactOrders_DimCustomer]
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD  CONSTRAINT [FK_FactOrders_DimDate] FOREIGN KEY([OrderDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactOrders] CHECK CONSTRAINT [FK_FactOrders_DimDate]
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD  CONSTRAINT [FK_FactOrders_DimEmployee] FOREIGN KEY([EmployeeSK])
REFERENCES [dbo].[DimEmployee] ([EmployeeSK])
GO
ALTER TABLE [dbo].[FactOrders] CHECK CONSTRAINT [FK_FactOrders_DimEmployee]
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD  CONSTRAINT [FK_FactOrders_DimProduct] FOREIGN KEY([ProductSK])
REFERENCES [dbo].[DimProduct] ([ProductSK])
GO
ALTER TABLE [dbo].[FactOrders] CHECK CONSTRAINT [FK_FactOrders_DimProduct]
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD  CONSTRAINT [FK_FactOrders_DimShipper] FOREIGN KEY([ShipperSK])
REFERENCES [dbo].[DimShipper] ([ShipperSK])
GO
ALTER TABLE [dbo].[FactOrders] CHECK CONSTRAINT [FK_FactOrders_DimShipper]
GO
/****** Objeto: StoredProcedure [dbo].[DW_MergeDimCustomer] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[DW_MergeDimCustomer] AS 
BEGIN 
    SET NOCOUNT ON;
    MERGE [dbo].[DimCustomer] AS Target 
    USING [dbo].[Staging_Customer] AS Source ON Target.[CustomerID] = Source.[CustomerID] 
    WHEN MATCHED THEN 
        UPDATE SET 
            Target.[CompanyName] = Source.[CompanyName], 
            Target.[ContactName] = Source.[ContactName], 
            Target.[ContactTitle] = Source.[ContactTitle],
            Target.[Address] = Source.[Address],
            Target.[City] = Source.[City],
            Target.[Region] = Source.[Region],
            Target.[PostalCode] = Source.[PostalCode],
            Target.[Country] = Source.[Country],
            Target.[Phone] = Source.[Phone],
            Target.[Fax] = Source.[Fax]
    WHEN NOT MATCHED THEN 
        INSERT ([CustomerID], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax]) 
        VALUES (Source.[CustomerID], Source.[CompanyName], Source.[ContactName], Source.[ContactTitle], Source.[Address], Source.[City], Source.[Region], Source.[PostalCode], Source.[Country], Source.[Phone], Source.[Fax]); 
END
GO
/****** Objeto: StoredProcedure [dbo].[DW_MergeDimEmployee] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[DW_MergeDimEmployee] AS 
BEGIN 
    SET NOCOUNT ON;
    MERGE [dbo].[DimEmployee] AS Target 
    USING [dbo].[Staging_Employee] AS Source ON Target.[EmployeeID] = Source.[EmployeeID] 
    WHEN MATCHED THEN 
        UPDATE SET 
            Target.[LastName] = Source.[LastName], 
            Target.[FirstName] = Source.[FirstName], 
            Target.[Title] = Source.[Title],
            Target.[TitleOfCourtesy] = Source.[TitleOfCourtesy],
            Target.[BirthDate] = Source.[BirthDate],
            Target.[Address] = Source.[Address],
            Target.[City] = Source.[City],
            Target.[Region] = Source.[Region],
            Target.[PostalCode] = Source.[PostalCode],
            Target.[Country] = Source.[Country],
            Target.[HomePhone] = Source.[HomePhone],
            Target.[Extension] = Source.[Extension],
            Target.[RegionDescription] = Source.[RegionDescription],
            Target.[TerritoryDescription] = Source.[TerritoryDescription]
    WHEN NOT MATCHED THEN 
        INSERT ([EmployeeID], [LastName], [FirstName], [Title], [TitleOfCourtesy], [BirthDate], [Address], [City], [Region], [PostalCode], [Country], [HomePhone], [Extension], [RegionDescription], [TerritoryDescription]) 
        VALUES (Source.[EmployeeID], Source.[LastName], Source.[FirstName], Source.[Title], Source.[TitleOfCourtesy], Source.[BirthDate], Source.[Address], Source.[City], Source.[Region], Source.[PostalCode], Source.[Country], Source.[HomePhone], Source.[Extension], Source.[RegionDescription], Source.[TerritoryDescription]); 
END
GO
/****** Objeto: StoredProcedure [dbo].[DW_MergeDimProduct] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[DW_MergeDimProduct] AS 
BEGIN 
    SET NOCOUNT ON;
    MERGE [dbo].[DimProduct] AS Target 
    USING [dbo].[Staging_Product] AS Source ON Target.[ProductID] = Source.[ProductID] 
    WHEN MATCHED THEN 
        UPDATE SET 
            Target.[ProductName] = Source.[ProductName], 
            Target.[CategoryName] = Source.[CategoryName], 
            Target.[CompanyName] = Source.[SupplierName], -- Mapeo de proveedor
            Target.[UnitPrice] = Source.[UnitPrice],
            Target.[QuantityPerUnit] = Source.[QuantityPerUnit],
            Target.[UnitsInStock] = Source.[UnitsInStock],
            Target.[Discontinued] = Source.[Discontinued]
    WHEN NOT MATCHED THEN 
        INSERT ([ProductID], [ProductName], [CategoryName], [CompanyName], [UnitPrice], [QuantityPerUnit], [UnitsInStock], [Discontinued]) 
        VALUES (Source.[ProductID], Source.[ProductName], Source.[CategoryName], Source.[SupplierName], Source.[UnitPrice], Source.[QuantityPerUnit], Source.[UnitsInStock], Source.[Discontinued]); 
END
GO
/****** Objeto: StoredProcedure [dbo].[DW_MergeDimShipper] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[DW_MergeDimShipper] AS 
BEGIN 
    SET NOCOUNT ON;
    MERGE [dbo].[DimShipper] AS Target 
    USING [dbo].[Staging_Shipper] AS Source ON Target.[ShipperID] = Source.[ShipperID] 
    WHEN MATCHED THEN 
        UPDATE SET 
            Target.[CompanyName] = Source.[CompanyName], 
            Target.[Phone] = Source.[Phone] 
    WHEN NOT MATCHED THEN 
        INSERT ([ShipperID], [CompanyName], [Phone]) 
        VALUES (Source.[ShipperID], Source.[CompanyName], Source.[Phone]); 
END
GO
/****** Objeto: StoredProcedure [dbo].[DW_MergeFactOrders] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[DW_MergeFactOrders] AS 
BEGIN 
    SET NOCOUNT ON; 
    MERGE [dbo].[FactOrders] AS Target 
    USING [dbo].[Staging_FactOrders] AS Source 
    ON Target.[OrderID] = Source.[OrderID] AND Target.[ProductID] = Source.[ProductID]
    
    WHEN MATCHED THEN 
        UPDATE SET 
            Target.[UnitPrice] = Source.[UnitPrice], 
            Target.[Quantity] = Source.[Quantity], 
            Target.[Discount] = Source.[Discount],
            Target.[OrderDateKey] = Source.[OrderDateKey],
            Target.[RequiredDateKey] = Source.[RequiredDateKey],
            Target.[ShippedDateKey] = Source.[ShippedDateKey],
            -- ESTAS LÍNEAS SON LAS QUE FALTABAN:
            Target.[OrderDate] = Source.[OrderDate],
            Target.[RequiredDate] = Source.[RequiredDate],
            Target.[ShippedDate] = Source.[ShippedDate]
            
    WHEN NOT MATCHED THEN 
        INSERT ([OrderID], [ProductID], [CustomerSK], [EmployeeSK], [ProductSK], [ShipperSK], 
                [OrderDateKey], [RequiredDateKey], [ShippedDateKey], [UnitPrice], [Quantity], [Discount],
                -- COLUMNAS DE DESTINO:
                [OrderDate], [RequiredDate], [ShippedDate]) 
        VALUES (Source.[OrderID], Source.[ProductID], Source.[CustomerSK], Source.[EmployeeSK], 
                Source.[ProductSK], Source.[ShipperSK], Source.[OrderDateKey], 
                Source.[RequiredDateKey], Source.[ShippedDateKey], Source.[UnitPrice], 
                Source.[Quantity], Source.[Discount],
                -- VALORES DEL STAGING:
                Source.[OrderDate], Source.[RequiredDate], Source.[ShippedDate]); 
END 
GO
/****** Objeto: StoredProcedure [dbo].[FillDimDate] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FillDimDate]
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @StartDate DATE = '1996-01-01'; -- Fecha de inicio de Northwind
    DECLARE @EndDate DATE = '1998-12-31';   -- Fecha de fin de Northwind
    
    WHILE @StartDate <= @EndDate
    BEGIN
        INSERT INTO [dbo].[DimDate] ([DateKey], [FullDate], [Year], [Quarter], [Month], [MonthName], [Day])
        SELECT 
            CONVERT(INT, FORMAT(@StartDate, 'yyyyMMdd')),
            @StartDate,
            YEAR(@StartDate),
            DATEPART(QUARTER, @StartDate),
            MONTH(@StartDate),
            DATENAME(MONTH, @StartDate),
            DAY(@StartDate)
        WHERE NOT EXISTS (SELECT 1 FROM [dbo].[DimDate] WHERE [FullDate] = @StartDate);
        
        SET @StartDate = DATEADD(DAY, 1, @StartDate);
    END
END
GO
/****** Objeto: StoredProcedure [dbo].[GetLastPackageRowVersion] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Control de Versiones [4]
CREATE PROCEDURE [dbo].[GetLastPackageRowVersion] (@tableName NVARCHAR(50)) AS 
BEGIN 
    SELECT LastRowVersion FROM [dbo].[LastPackageRowVersion] WHERE TableName = @tableName; 
END
GO
/****** Objeto: StoredProcedure [dbo].[UpdateLastPackageRowVersion] Fecha de script: 12/05/2026 10:16:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateLastPackageRowVersion] (@tableName NVARCHAR(50), @lastRowVersion BIGINT) AS 
BEGIN 
    IF EXISTS (SELECT 1 FROM [dbo].[LastPackageRowVersion] WHERE TableName = @tableName)
        UPDATE [dbo].[LastPackageRowVersion] SET LastRowVersion = @lastRowVersion WHERE TableName = @tableName;
    ELSE
        INSERT INTO [dbo].[LastPackageRowVersion] (TableName, LastRowVersion) VALUES (@tableName, @lastRowVersion);
END
GO
USE [master]
GO
